@*@model IEnumerable<PMS.Models.Markup.DynamicRoleModel>*@
@{
    ViewBag.Title = "Air Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.pager {
        text-align: center;
        margin: 1em 0;
    }

        div.pager span {
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8;
            text-align: center;
            cursor: pointer;
            background: #216aaf;
            color: #fff;
            margin-right: 0.5em;
        }

            div.pager span.active {
                background: #e6f1fb;
                color: #216aaf;
            }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="panel panel-primary"> <div class="panel-heading"><h3 class="text-primary text-center">Air Lines List</h3></div></div>
<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <div class="btn-group">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
        </div>
        <br />
        <br />
        <div class="row" style=" overflow-y:scroll; overflow-x:scroll;">
            <table id="assets-data-table" class="table table-bordered"
                   style="width:100%;"></table>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {

            var assetListVM1;
        $(function () {
            assetListVM1 = {
                dt: null,

                init: function () {
                    dt = $('#assets-data-table').DataTable({
                        "serverSide": true,
                        "bScrollInfinite": true,
                        "processing": true,
                        "ajax": {
                            "url":
                            "@Url.Action("GetAllAirLines", "AirLineAdd")",
                            "type":"POST"
                        },
                        "columns": [
                            {   "title": "Id",
                                "data": "ID",
                                "visible": false
                            },
                            {
                                "title": "Id",
                                "data": "IsRemoved",
                                "visible": false
                            },
                            {
                                "title": "Air Line Name",
                                "data": "AriLineName",
                                "searchable": true
                            },
                            {
                                "title": "Air Line Code",
                                "data": "Code",
                                "searchable": true
                            }
                            ,
                            {
                                "title": "Action",
                                "render": function (data, type, full, meta) { return '<a class="btn btn-default" href="/AirLineAdd/Edit/' + full.ID +'">Edit</a>'; }
                            }
                            //,
                            //{
                            //    "title": "Action",
                            //    "render": function (data, type, full, meta) {
                            //        if (full.IsRemoved == 0) {
                            //            return '<a class="btn btn-success" onclick="javascript:AirlinesAction(' + full.ID+')">Active</a > ';
                            //        }
                            //        else {
                            //            return '<a class="btn btn-danger" onclick="javascript:AirlinesAction(' + full.ID +')">InActive</a > ';
                            //        }

                            //    }
                            //}
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }

            // initialize the datatables
            assetListVM1.init();
        });
        });
    function AirlinesAction(id) {
        $.ajax({
            url: '/AirLineAdd/ActiveOrInActive',
                type: 'GET',
                dataType: "json",
                contentType: 'application/json',
                data: { id: id},
                success: function (res) {

                    if (res.Success) {
                        swal("Success", res.Message);
                        //location.reload();

                        $('#assets-data-table').DataTable().ajax.reload();
                        return false;
                    }
                    else {
                        swal("Exception", res.Message);
                        return false;
                    }

                }
            });
    }

</script>



<script type="text/javascript">

    $('table.table-bordered').each(function () {
        var currentPage = 0;
        var numPerPage = 10;
        var $table = $(this);
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');


    });
</script>