@model IEnumerable<GSA_Management_Information_System.Models.CompanyInformation>

@{
    ViewBag.Title = "Index";

}
<div class="container">

    <a class="btn btn-success" style="margin-bottom:10px" onclick="location.href='@Url.Action("Add", "CompanyInformation")'"><i class="fa fa-plus"></i>Add New</a>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>

                <th>Company_Name</th>
                <th>Company_Code</th>
                <th>Branch_Name</th>
                <th>Branch_Code</th>
                <th>Company_Tin</th>
                <th>Company_Address</th>
                <th>Company_Postcode</th>
                <th>Company_City</th>
                <th>Company_Country</th>
                <th>Company_ContacNo</th>
                <th>Company_Fax</th>
                <th>Company_Email</th>
                <th>Company_Web</th>
                <th>Company_Dialogue</th>
                <th></th>
            </tr>
        </thead>
    </table>


    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
        <script src="~/Scripts/notify.min.js"></script>
        <script>
            var Popup, dataTables;
            $(document).ready(function () {
                dataTables = $("#example").DataTable({
                    "ajax": {
                        "url": "/CompanyInformation/GetData",
                        "type": "GET",
                        "datatype": "JSON"

                    },

                    "columns": [
                        { "data": "Company_Name" },
                        { "data": "Company_Code" },
                        { "data": "Branch_Name" },
                        { "data": "Branch_Code" },
                        { "data": "Company_Tin" },
                        { "data": "Company_Address" },
                        { "data": "Company_Postcode" },
                        { "data": "Company_City" },
                        { "data": "Company_Country" },
                        { "data": "Company_ContacNo" },
                        { "data": "Company_Fax" },
                        { "data": "Company_Email" },
                        { "data": "Company_Web" },
                        { "data": "Company_Dialogue" },
                        { "data": "CompanyID", "render": function (data) {
                                return "<a class='btn btn-default btn-sm' onclick=location.href='@Url.Action("Edit", "CompanyInformation")/" + data + "'><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm'style='margin-left:5px'onclick=Delete("+ data +")><i class='fa fa-trash'></i> Delete</a>"
                                },
                                    "orderable": false,
                                    "searchable":false,
                                    "width":"150px"
                                }


                            ],


                             "language": {
                                 "emptyTable": "No data found, please click on <b>Add New</b> Button"
                            }
                        });
                    });


                    function SubmitForm(form) {
                        $.ajax({
                            type: "post",
                            url: form.action,
                            data: $(form).serialize(),
                            success: function (data) {
                                if (data.success) {
                                    dataTables.ajax.reload();
                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"


                                    })


                                    Popup.dialog('close');

                                }
                                }

                        });

                        return false;
                    }




            function Delete(id) {

                        if (confirm('Are you sure you want to delete this Company record ?'))
                        {

                            $.ajax({
                                type: "post",
                                url: '@Url.Action("Delete", "CompanyInformation")/' + id,
                                success: function (data) {
                                    if (data.success) {

                                        dataTables.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"

                                        })


                                    }
                                }
                            });
                        }
                    }

        </script>


    }

</div>

